body {
	background: rose;
	margin-bottom: 25px;
	margin-top: 10px;
	padding:8px;
}
/* header */
.header img {
	height: 35px;
	width: 35px;
}

.img-align {
	display: inline-block;
}

.header {
	background: #AA7739;
	border: 1px solid #FFD9AA;
	color: #552F00;
	font-weight: bold;
	margin: auto;
	max-height: 30px;
	max-width: 400px;
	padding: 40px;
	position: relative;
}
.header h1 {
	color: #FFD9AA;
	letter-spacing: 6px;
	padding-left: 4px;
}
/* Main login Area */
.containerlog {
	background: #AA7739;
	border-width: 0px 1px 0px 1px;
	border-style: solid;
	color: #FFD9AA;
	font-weight: bold;
	margin: auto;
	max-width: 400px;
	max-height: 190px;
	padding: 40px;
}
/* Input fields */
input[type=text], input[type=password] {
	border: 1px solid #805015;
	margin: 8px;
	padding: 8px;
	width: 80%;
}

input[type=submit] {
	background: #552F00;
	border: 1px solid #805015;
	color: #FFD9AA;
	cursor: pointer;
	font-size: 20px;
	font-weight: bold;
	margin-top: 25px;
	padding: 15px;
	min-width: 25%;
	border: 1px solid #805015;
}

.containerfooter {
	color: #FFD9AA;
	background: #AA7739;
	margin-top: 20px;
	margin: auto;
	max-width: 400px;
	padding: 40px;
	text-align: center; 	
}

Span {
	font-size: 15px;
}